# Shopify buyer exploratory analysis
Purpose: analyze quick trends for Shopify buyers to understand the user experience

In [2]:
import pandas as pd

In [4]:
# load in data
df = pd.read_csv('Shopify.csv')
df.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

In [6]:
df.info()
# no null values, good

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   order_id        5000 non-null   int64
 1   shop_id         5000 non-null   int64
 2   user_id         5000 non-null   int64
 3   order_amount    5000 non-null   int64
 4   total_items     5000 non-null   int64
 5   payment_method  5000 non-null   object
 6   created_at      5000 non-null   object
dtypes: int64(5), object(2)
memory usage: 273.6+ KB

In [7]:
df.describe()

          order_id      shop_id      user_id   order_amount  total_items
count  5000.000000  5000.000000  5000.000000    5000.000000   5000.00000
mean   2500.500000    50.078800   849.092400    3145.128000      8.78720
std    1443.520003    29.006118    87.798982   41282.539349    116.32032
min       1.000000     1.000000   607.000000      90.000000      1.00000
25%    1250.750000    24.000000   775.000000     163.000000      1.00000
50%    2500.500000    50.000000   849.000000     284.000000      2.00000
75%    3750.250000    75.000000   925.000000     390.000000      3.00000
max    5000.000000   100.000000   999.000000  704000.000000   2000.00000

## Analyze buyer behavior
### Exploratory

In [10]:
# basic stats of buyers
unique_customers = df['user_id'].nunique()
print(f"Total unique customers: {unique_customers}")

total_orders = len(df)
print(f"Total orders: {total_orders}")

print(f"Average orders per customer: {total_orders/unique_customers:.2f}")

customer_orders = df['user_id'].value_counts()
print(f"\nCustomer order frequency:")
print(f"One-time buyers: {(customer_orders == 1).sum()}({(customer_orders == 1).sum()/unique_customers*100:.1f}%)") # no buyer with just 1 purchase
print(f"Repeat customers: {(customer_orders > 1).sum()}({(customer_orders > 1).sum()/unique_customers*100:.1f}%)") # all buyers bought more than one thing
print(f"Max orders by single customer: {customer_orders.max()}")

Total unique customers: 301
Total orders: 5000
Average orders per customer: 16.61

Customer order frequency:
One-time buyers: 0(0.0%)
Repeat customers: 301(100.0%)
Max orders by single customer: 28

#### Purchase frequency

#### Order amount stats

In [13]:
print(f"Mean: ${df['order_amount'].mean():.2f}")
print(f"Median: ${df['order_amount'].median():.2f}")
print(f"Min: ${df['order_amount'].min():.2f}")
print(f"Max: ${df['order_amount'].max():.2f}")
print(f"Standard Deviation: ${df['order_amount'].std():.2f}")
print(f"25th percentile: ${df['order_amount'].quantile(0.25):.2f}")
print(f"75th percentile: ${df['order_amount'].quantile(0.75):.2f}")
# obviously some outliers here..

Mean: $3145.13
Median: $284.00
Min: $90.00
Max: $704000.00
Standard Deviation: $41282.54
25th percentile: $163.00
75th percentile: $390.00

#### Total items stats

In [12]:
print(f"Mean: ${df['total_items'].mean():.2f}")
print(f"Median: ${df['total_items'].median():.2f}")
print(f"Min: ${df['total_items'].min():.2f}")
print(f"Max: ${df['total_items'].max():.2f}")
print(f"Standard Deviation: ${df['total_items'].std():.2f}")
print(f"25th percentile: ${df['total_items'].quantile(0.25):.2f}")
print(f"75th percentile: ${df['total_items'].quantile(0.75):.2f}")

# obviously some outliers here..

Mean: $8.79
Median: $2.00
Min: $1.00
Max: $2000.00
Standard Deviation: $116.32
25th percentile: $1.00
75th percentile: $3.00

#### Items purchased distribution

In [15]:
items_dist = df['total_items'].value_counts().sort_index()
print(f"Items per order distribution:")
for items, count in items_dist.head(10).items():
    print(f"{items} items: {count} orders ({count/len(df)*100:.1f}%)")
    
# these 17 orders with 2,000 items are likely fraudulent

Items per order distribution:
1 items: 1830 orders (36.6%)
2 items: 1832 orders (36.6%)
3 items: 941 orders (18.8%)
4 items: 293 orders (5.9%)
5 items: 77 orders (1.5%)
6 items: 9 orders (0.2%)
8 items: 1 orders (0.0%)
2000 items: 17 orders (0.3%)

#### Correlation between order amount and total items

In [18]:
correlation = df['order_amount'].corr(df['total_items'])
print(f"Correlation between order_amount and total_items: {correlation:.3f}")

Correlation between order_amount and total_items: 0.992

### Payment method impact
Do customers who pay with credit cards spend more per order than those who pay with cash?

In [ ]:
# average order amounts between payment method

# distribution of order values for each payment type


payment_counts = df['payment_method'].value_counts()
print("Distribution:")
for method, count in payment_counts.items():
    print(f"{method}: {count} orders ({count/len(df)*100:.1f}%)")

# payment method vs order amount
payment_stats = df.groupby('payment_method')['order_amount'].agg(['count', 'mean', 'median', 'std'])
print(f"\nOrder amount by payment method:")
print(payment_stats.round(2))

# payment method vs total items
items_by_payment = df.groupby('payment_method')['total_items'].agg(['mean', 'median'])
print(f"\nItems per order by payment method:")
print(items_by_payment.round(2))

### Repeat buyers impact
What percentage of customers are repeat buyers, and how do their purchasing patterns differ from one-time buyers?"

In [ ]:
# find customers who made > 1 purchase

# compare average order amounts between repeat vs. one-time customers

# compare average total items ordered between repeat vs. one-time customers